/** Mentor's card **/
.mentorCard {
  padding: 0px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 1em;
  min-height: 355px;
  transition: width 0.4s ease-out;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  flex-direction: column;
}

@media screen and (max-width: 930px) {
  .mentorCard {
    width: 95vw;
    margin-left: 1em;
    margin-right: 1em;
    transition: width 0.4s ease-out;
  }
}

@media screen and (min-width: 930px) {
  .mentorCard {
    width: 45vw;
    transition: width 0.4s ease-out;
  }
}

@media screen and (min-width: 1630px) {
  .mentorCard {
    width: 30vw;
    transition: width 0.4s ease-out;
  }
}

/** Picture wrapper **/
.pictureWrapper {
  margin: 5px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  z-index: 2;
}

.mentorIntroduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 117, 218);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mentorNameAndLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 2;
}
.mentorNameAndLink h2 {
  margin: 0;
}
.mentorNameAndLink a {
  height: 25px !important;
  width: 25px !important;
  margin-left: 10px;
}

.mentorClipPath {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

/** Info card **/
.mentorInfo {
  /* width: 70%; */
  display: flex;
  justify-content: center;
}

.mentorInfo a {
  height: 30px !important;
  width: 30px !important;
}

/** List of MentoryType **/
.mentoryTypeList {
  display: flex;
  flex-direction: row;
  list-style: none;
  z-index: 2;
  justify-content: center;
  margin: 10px 0 15px 0;
  padding: 0;
}

.mentoryTypeList li {
  color: #858585;
  border-radius: 25px;
  font-size: 12px;
  font-family: 'Montserrat', monospace;
  font-weight: 500;
  padding: 0 5px;
}

@media screen and (max-width: 400px) {
  .mentoryTypeList li {
    font-size: 11px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
  .mentoryTypeList {
    flex-direction: column;
  }
}

.inactiveMentorLabel {
  background: #e02f2f8f;
  color: white;
  border-radius: 25px;
  padding: 5px 20px 7px;
  font-size: smaller;
}

.mentorButton {
  border-width: 1px;
  background: white;
  border-color: #3575da;
  color: #3575da;
  max-width: 150px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mentorButton span {
  font-weight: 500;
  font-family: 'Montserrat';
  margin-left: 5px;
}
.mentorButton a {
  height: 30px !important;
  width: 30px !important;
  margin-left: 10px;
  margin-right: 5px;
}

.mentorButton div {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 117, 218, 0) 50%,
    rgba(0, 117, 218, 0) 100%
  );
}
